# Virtual Environment
venv/
.venv/
# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

.ipynb_checkpoints/
*.pyc
data/final/feature_engineered_stock_data.csv


*.log
*.h5
*.ckpt
data/raw/
catboost_info/